* {
    box-sizing: border-box;
    --background-mobile: rgb(6, 6, 68);
    --background-desktop: rgb(30, 0, 60);
}

body {
    height: 100vh;
    font-size: 24px;
    color: white;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-image: linear-gradient(45deg, rgb(6, 6, 68), rgb(0, 60, 60));
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    height: 10vh;
    justify-content: space-around;
}

.menu ul {
    align-items: center;
}

.menu a {
    display: block;
    margin: auto;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: teal;
}

a {
    display: block;
    margin: auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    color: teal;
    padding: 0.5em;
    text-decoration: none;
}

a p {
    padding-top: .5em;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle {
    font-size: 1.5em;
    position: fixed;
    top: 10vh;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    padding: 1em;
    align-items: center;
}